@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {
  .container {
    max-width: 95rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;


  }

  @media only screen and (max-width: 1024px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

/* width */

.customizeScroll {
  scrollbar-gutter: stable both-edges;
}

.customizeScroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.customizeScroll::-webkit-scrollbar-track {
  background: #e8e7e5;
  border-radius: 5px;
}

/* Handle */
.customizeScroll::-webkit-scrollbar-thumb {
  background: #d6de23;
  border-radius: 5px;
}

/* Handle on hover */
.customizeScroll::-webkit-scrollbar-thumb:hover {
  background: #d6de23;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.breadcrumbs>ul>li+*:before,
.breadcrumbs>ol>li+*:before {
  content: "|";
  height: auto;
  width: auto;
  transform: unset;
  border-top: unset;
  border-right: unset;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #353535;
}

.double-range {
  margin-top: 20px;
}

.double-range .range-slider {
  height: 3px;
  position: relative;
  background-color: #e8e7e5;
  border-radius: 100px;
}

.double-range .range-fill {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: #d6de23;
}

.double-range .range-input {
  position: relative;
}

.double-range .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.double-range .range-input input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ff8300;
  border: 5px solid #d6de23;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
}

.double-range .range-input input::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ff8300;
  border: 5px solid #d6de23;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
}

.modal:not(dialog:not(.modal-open)),
.modal::backdrop {
  pointer-events: none;
  display: none;
}

.modal-open,
.modal:target,
.modal-toggle:checked+.modal,
.modal[open] {
  pointer-events: auto;
  display: block;
}

.shelf-image-aspect {
  aspect-ratio: 16 / 29;
}

@media only screen and (min-width: 768px) {
  .shelf-image-aspect {
    aspect-ratio: 328 / 466;
  }
}

.custom-max-dvh {
  max-height: calc(100vw - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.custom-h-dvh {
  height: calc(100vh - 72px - 50px);
  max-height: calc(100vh - 72px - 50px);
  height: calc(100dvh - 72px - 50px);
  max-height: calc(100dvh - 72px - 50px);
  height: calc(calc(var(--vh, 1vh) * 100) - 72px - 50px);
  max-height: calc(calc(var(--vh, 1vh) * 100) - 72px - 50px);
}