@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.container {
  max-width: 95rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

/* width */

.customizeScroll {
  scrollbar-gutter: stable both-edges;
}

.customizeScroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.customizeScroll::-webkit-scrollbar-track {
  background: #e8e7e5;
  border-radius: 5px;
}

/* Handle */
.customizeScroll::-webkit-scrollbar-thumb {
  background: #d6de23;
  border-radius: 5px;
}

/* Handle on hover */
.customizeScroll::-webkit-scrollbar-thumb:hover {
  background: #d6de23;
}

.radio:not(:checked) {
  background-color: white;
}
.radio:checked {
  box-shadow: 0 0 0 4px white inset, 0 0 0 4px white inset;
}

.triangle-cashback {
  --r:1px; /* border radius */

  height: 13px;
  aspect-ratio: cos(30deg);
  --_g:calc(tan(60deg)*var(--r)) right var(--r),#000 98%,#0000 101%;
  -webkit-mask:
    conic-gradient(from 240deg at calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
     100% 0/calc(100% - 3*var(--r)/2) 100% no-repeat,
    radial-gradient(var(--r) at calc(2*var(--r)) 50%,#000 98%,#0000 101%),
    radial-gradient(var(--r) at top    var(--_g)),
    radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(0 50%,100% 100%,100% 0);
  background: #D6DE23;
}

.diagonal-line{
  position: relative;
}

.diagonal-line::before {
  content: "";
  position: absolute;
  width: 1px; /* Largura da linha */
  height: 136%; /* Altura da linha */
  background-color: #676767; /* Cor da linha */
  transform: rotate(45deg); /* Rotação para criar a linha diagonal */
  top: -4px;
  left: 50%;
}